doctype html
html(lang='en')
  head
    block meta
      meta(charset='utf-8')
      meta(
        name='viewport',
        content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{headline}
    script(src="/app.js")
  body
    block header
        header
    main(class="main")
      block main
        div(class="html") !{ press.html }